body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

/* ===================================color */
:root {
    --black: #131313;
    --primary: #DF4308;
    --light-black: #231F1B;

}
.text-primary{
    color: var(--primary) !important;
}
/* ============================log form */
.log-form {
    background-color: var(--black);
    min-height: 100vh;
}

.col-50 {
    width: 50%;
}

.form-content {
    background-color: var(--light-black);
    padding: 30px 25px;
    border-radius: 15px;
    width: 80%;
}

.form-content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;

    color: var(--primary);
}

.form-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #EEEEEE;
}

.log-form-label {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 15px !important;
    color: #EEEEEE;
    line-height: 10px;
}

.log-form-input {
    background-color: transparent;
    border: 1px solid #4A4C55;
    border-radius: 6px;
    color: white !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.log-form-input:focus {
    background-color: #131313;
    outline: none;
    box-shadow: none;
}

.log-form-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4A4C55;
}

.form-check-label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #EEEEEE;

}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #EEEEEE;

}

.link:hover {
    color: var(--primary);
}

.log-btn {
    background: #DF4308;
    /* box-shadow: 0px 20px 60px #C7D4E2; */
    border-radius: 2px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 7px 0px;
    border: 2px solid var(--primary);
}

.log-btn:hover {
    background-color: transparent;
    border: 2px solid var(--primary);
}

.log-btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
}

.log-btn2 {
    background: transparent;
    /* box-shadow: 0px 20px 60px #C7D4E2; */
    border-radius: 2px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 7px 0px;
    border: 2px solid var(--primary);
}

.log-btn2:hover {
    background-color: #DF4308;
    border: 2px solid var(--primary);
}

.log-btn2 a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
}

/* ================form content area */
.form-info {
    background-color: var(--light-black);
    height: 100vh;
    width: 100%;

}

.mobile-log-logo {
    display: none !important;
}

/* ===============================================================================================
==============================================================================================
                                                 Dashboard Layout
 ================================================================================================
 ================================================================================================= = */
 .sidebar-nav{
    width: 280px;
    background-color: var(--black);
    height: 100vh;
    position: fixed !important;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 0px 0px 0px;
   position: relative;
 }
 .side-logout{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 20px;
    background-color: var(--primary);
    display: none !important;
 }
 .main-section{
    background-color: var(--light-black);
    width: calc(100% - 280px);
    min-height: 100vh;
 }
 .header{
    height: 80px;
    width: 100%;
    background-color: var(--black);
    padding: 10px 30px;
 }

::-webkit-scrollbar {
    width: 10px;
  }
   
 ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
   
 ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px
  }
  .sideNav-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border-left: 3px solid transparent;
    color: #A4A6B3 !important;

  }
  .sideNav-list-item:hover{
    border-left: 3px solid var(--primary);
    background-color: #241713;
    color: white !important;
  }
  
  .sideNav-list-item:hover p,
  .sideNav-list-item:hover i{
    color: white !important;
  }
  .active-item{
    border-left: 3px solid var(--primary);
    background-color: #241713;
    color: white;
  }
  .active-item p,
  .active-item i{
    color: white !important;
  }
  .sideNav-dropdown button{
    background-color: transparent;
    border: none;
    color: #3D3D3D;
    font-size: 18px;
  }
  .no-decoration{
    text-decoration: none;
  }
  /* ==============================================================header */
  .admin-dropdown{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    object-fit: cover;
  }
  .header-search{
   position: relative;
  }
  .header-search input{
    background: #131313;
    border: 2px solid #EEEEEE;
    border-radius: 25px;
    height: 33px;
  }
  .header-search i{
  font-size: 17px;
  position: absolute;
  top: 4px;
  color: #EEEEEE;
  right: 14px;
  }
  .admin-card{
    background: #131313;
box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
border-radius: 8px;
padding: 20px;
  }
  .main-contents{
    padding: 20px;
  }
  .mobile-menu{
    border: 1px solid white;
    padding: 0px 6px;
    border-radius: 3px;
    margin-left: 10px;
    display: none;
  }
  .mobile-menu i{
    line-height: 10px;
  }
  .backdrop{
    background-color: #111111b0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
  }


  .color{
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }


  /* ============================================user management */
  .table-user{
    border: 1px solid #2C2C2C;
/* border-radius: 8px 8px 0px 0px; */
width: 100% !important;
  }
  .table-user thead tr th{
   font-size: 14px ;
   font-weight: 500;
   color:  #EEEEEE !important;
  }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
    border-top: 1px solid #2C2C2C !important ;
   
  }
  .dataTables_length{
    margin-bottom: 20px !important;
    color:  #EEEEEE !important;
  }
  .table-user tbody tr td{
    font-size: 14px ;
    font-weight: 400 !important;
    color:  #EEEEEE !important;
   }
   .dataTables_wrapper .dataTables_length select{
    color: var(--primary) !important;
   }
   .dataTables_filter{
    color: #EEEEEE !important;
    margin-bottom: 20px !important;
   }
   .dataTables_info{
    color: #EEEEEE !important;
    font-size: 14px;
   }

   .dataTables_paginate .paging_simple_numbers{
    color: #EEEEEE !important;
    font-size: 14px !important;
   }
.paginate_button {
    color: #EEEEEE !important;
    font-size: 14px !important;
   }
   .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: var(--primary);
    color: white !important;
   }
   .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #EEEEEE !important;
    font-size: 14px !important;
   }
   .paginate_button {
    color: #EEEEEE !important;
    font-size: 14px !important;
 }
 .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #EEEEEE !important;
    font-size: 14px !important;
 }

 table.dataTable.stripe>tbody>tr.odd.selected>*, table.dataTable.display>tbody>tr.odd.selected>*{
    box-shadow: none !important
 }
 
 table.dataTable.stripe>tbody>tr.even.selected>*, table.dataTable.display>tbody>tr.even.selected>*{
    box-shadow: none !important
 }
 .table-dp{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
 }
 table.dataTable>tbody>tr>td.select-checkbox:before, table.dataTable>tbody>tr>th.select-checkbox:before{
    top: 28px !important;
 }

 .filter-btn{
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    padding: 7px 15px;
    margin: 0px 10px;
 }
 
 .add-btn{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 3px;
    color: white;
    padding: 7px 15px;
    
 }
 .dropdown-menu{
    background-color: var(--primary);
    color: white;
 }
 .dropdown-menu li a{
    color: white;
 }

 .select-country {
     background: #131313;
     color: #ffffff;
     padding: 8px 18px;
     border: 1px solid gray;
 }