.f-29{
    font-size: 29px;
}
.f-28{
    font-size: 28px;
}
.f-24{
    font-size: 24px;
}
.f-26{
    font-size: 26px;
}
.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-12{
    font-size: 12px;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.text-gray{
    color: #A4A6B3 ;
}